/*-- -------------------------- -->
<---     Core Styles      -->
<--- -------------------------- -*/
:root {
    /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
    --primary: #4A8849;
    --primaryLight: #4A8849;
    --secondary: #4A8849;
    --secondaryLight: #4A8849;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;
    --topperColor: #015E94;
    --backgroundColor: #f6f6f6;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.75rem, 3.9vw, 2.5rem);
    --bodyFontSize: 18px;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto'
}


.bold-text {
    font-weight: 700;
}

*,
*:before,
*:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
}

.cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--topperColor);
    margin-bottom: 0.25rem;
    display: block;
    text-wrap: nowrap;
}

.cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
}

.cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/roboto-v30-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/assets/fonts/roboto-v30-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/
/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {

    section {
        scroll-margin-top: 38px;
    }

    body.cs-open {
        overflow: hidden;
    }

    #cs-navigation {
        width: 100%;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        padding: 0.75rem 1rem;
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: fixed;
        z-index: 10000;
    }

    #cs-navigation:before {
        content: "";
        width: 100%;
        height: 0vh;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: -1100;
        transition: height 0.5s, opacity 0.5s;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    #cs-navigation.cs-active:before {
        height: 150vh;
        opacity: 1;
    }

    #cs-navigation.cs-active .cs-ul-wrapper {
        opacity: 1;
        transform: scaleY(1);
        transition-delay: 0.15s;
    }

    #cs-navigation.cs-active .cs-li {
        opacity: 1;
        transform: translateY(0);
    }

    #cs-navigation .cs-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #cs-navigation .cs-logo {
        width: 40%;
        max-width: 9.125rem;
        height: 100%;
        margin: 0 auto 0 0;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        padding: 0;
        display: flex;
        justify-content: start;
        align-items: center;
        z-index: 10;
    }

    #cs-navigation .cs-logo img {
        width: 100%;
        height: 100%;
        /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
        object-fit: contain;
    }

    #cs-navigation .cs-toggle {
        /* 44px - 48px */
        width: clamp(2.75rem, 6vw, 3rem);
        height: clamp(2.75rem, 6vw, 3rem);
        margin: 0 0 0 auto;
        background-color: transparent;
        border: none;
        border-radius: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #cs-navigation .cs-active .cs-line1 {
        top: 50%;
        transform: translate(-50%, -50%) rotate(225deg);
    }

    #cs-navigation .cs-active .cs-line2 {
        top: 50%;
        transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
        transform-origin: center;
    }

    #cs-navigation .cs-active .cs-line3 {
        opacity: 0;
        bottom: 100%;
    }

    #cs-navigation .cs-box {
        /* 24px - 28px */
        width: clamp(1.5rem, 2vw, 1.75rem);
        /* 14px - 16px */
        height: clamp(0.875rem, 1.5vw, 1rem);
        position: relative;
    }

    #cs-navigation .cs-line {
        width: 100%;
        height: 2px;
        background-color: #1a1a1a;
        border-radius: 2px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    #cs-navigation .cs-line1 {
        top: 0;
        transition: transform 0.5s, top 0.3s, left 0.3s;
        animation-duration: 0.7s;
        animation-timing-function: ease;
        animation-direction: normal;
        animation-fill-mode: forwards;
        transform-origin: center;
    }

    #cs-navigation .cs-line2 {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: top 0.3s, left 0.3s, transform 0.5s;
        animation-duration: 0.7s;
        animation-timing-function: ease;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    #cs-navigation .cs-line3 {
        bottom: 0;
        transition: bottom 0.3s, opacity 0.3s;
    }

    #cs-navigation .cs-ul-wrapper {
        width: 100%;
        height: auto;
        padding-bottom: 2.4em;
        background-color: #fff;
        box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: -1;
        overflow: hidden;
        transform: scaleY(0);
        transition: transform 0.4s, opacity 0.3s;
        transform-origin: top;
    }

    #cs-navigation .cs-ul {
        width: 100%;
        height: auto;
        max-height: 65vh;
        margin: 0;
        padding: 3rem 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1.25rem;
        overflow: scroll;
    }

    #cs-navigation .cs-li {
        text-align: center;
        list-style: none;
        width: 100%;
        margin-right: 0;
        opacity: 0;
        /* transition from these values */
        transform: translateY(-4.375rem);
        transition: transform 0.6s, opacity 0.9s;
    }

    #cs-navigation .cs-li:nth-of-type(1) {
        transition-delay: 0.05s;
    }

    #cs-navigation .cs-li:nth-of-type(2) {
        transition-delay: 0.1s;
    }

    #cs-navigation .cs-li:nth-of-type(3) {
        transition-delay: 0.15s;
    }

    #cs-navigation .cs-li:nth-of-type(4) {
        transition-delay: 0.2s;
    }

    #cs-navigation .cs-li:nth-of-type(5) {
        transition-delay: 0.25s;
    }

    #cs-navigation .cs-li:nth-of-type(6) {
        transition-delay: 0.3s;
    }

    #cs-navigation .cs-li:nth-of-type(7) {
        transition-delay: 0.35s;
    }

    #cs-navigation .cs-li:nth-of-type(8) {
        transition-delay: 0.4s;
    }

    #cs-navigation .cs-li:nth-of-type(9) {
        transition-delay: 0.45s;
    }

    #cs-navigation .cs-li:nth-of-type(10) {
        transition-delay: 0.5s;
    }

    #cs-navigation .cs-li:nth-of-type(11) {
        transition-delay: 0.55s;
    }

    #cs-navigation .cs-li:nth-of-type(12) {
        transition-delay: 0.6s;
    }

    #cs-navigation .cs-li:nth-of-type(13) {
        transition-delay: 0.65s;
    }

    #cs-navigation .cs-li-link {
        /* 16px - 24px */
        font-size: clamp(1rem, 2.5vw, 1.5rem);
        line-height: 1.2em;
        text-decoration: none;
        margin: 0;
        color: var(--headerColor);
        display: inline-block;
        position: relative;
    }

    #cs-navigation .cs-li-link:before {
        /* active state underline */
        content: "";
        width: 100%;
        height: 1px;
        background: currentColor;
        opacity: 1;
        display: none;
        position: absolute;
        bottom: -0.125rem;
        left: 0;
    }

    #cs-navigation .cs-li-link.cs-active:before {
        display: block;
    }

    #cs-navigation .cs-button-solid {
        font-size: 1rem;
        font-weight: 700;
        /* 46px - 56px */
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-align: center;
        text-decoration: none;
        min-width: 9.375rem;
        margin: 0;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        padding: 0 2rem;
        color: #fff;
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        transition: color 0.3s;
        border-radius: 0.25rem;
    }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {

    section {
        scroll-margin-top: 0px;
    }


    body.scroll #cs-navigation {
        width: 100%;
        max-width: 100%;
        border-radius: 0;
        top: 0;
    }

    #cs-navigation {
        width: 94%;
        max-width: 90rem;
        height: 6rem;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        /* 12px - 24px */
        padding: clamp(0.75rem, 2vw, 1.5rem) 0;
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        /* 12px - 24px */
        border-radius: clamp(0.75rem, 2vw, 1.5rem);
        display: flex;
        align-items: center;
        position: fixed;
        top: 2rem;
        left: 50%;
        z-index: 10000;
        transform: translateX(-50%);
        transition: top 0.3s, border-radius 0.3s, width 0.3s, max-width 0.3s;
    }

    #cs-navigation .cs-container {
        width: 100%;
        max-width: 90rem;
        margin: auto;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        padding: 0 2.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
    }

    #cs-navigation .cs-toggle {
        display: none;
    }

    #cs-navigation .cs-logo {
        width: 18.4%;
        max-width: 21.875rem;
        height: 2rem;
        /* margin-right auto pushes everything away from it to the right */
        margin: 0 auto 0 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 100;
    }

    #cs-navigation .cs-logo img {
        width: auto;
        height: 100%;
        /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
        object-fit: contain;
    }


    #cs-navigation .cs-ul-wrapper {
        height: 100%;
        display: contents;
        align-items: center;
        /* absolutely positioned to be dead center */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #cs-navigation .cs-ul {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* 20px - 36px */
        gap: clamp(1.25rem, 2.6vw, 2.25rem);
    }

    #cs-navigation .cs-li {
        list-style: none;
        height: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        /* prevent flexbox from squishing it */
        flex: none;
    }

    #cs-navigation .cs-li-link {
        font-size: 1rem;
        line-height: 1.5em;
        text-decoration: none;
        margin: 0;
        color: var(--headerColor);
        display: block;
        position: relative;
        transition: color 0.3s;
        font-weight: 700;
    }

    #cs-navigation .cs-li-link:hover {
        color: var(--primary);
    }

    #cs-navigation .cs-li-link.cs-active {
        color: var(--primary);
    }

    #cs-navigation .cs-button-solid {
        display: none;
    }

}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    section {
        scroll-margin-top: 0px;
    }


    #cs-navigation .cs-social {
        display: flex;
    }

    #cs-navigation .cs-button-solid {
        display: none;
    }
}




/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #home {
        /* Centers button */
        text-align: center;
        /* 144px - 300px - leaving extra space for the navigation */
        padding: clamp(9rem, 25.95vw, 18.75rem) 1rem 0;
        /* 130px - 200px */
        padding-bottom: clamp(8.125rem, 12.5vw, 25em);
        position: relative;
        z-index: 1;
    }

    #home .cs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
    }

    #home .cs-background:before {
        /* Overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.7;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 1;
        /* prevents the cursor from interacting with it */
        pointer-events: none;
    }

    #home .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    #home .cs-container {
        width: 100%;
        max-width: 67.5rem;
        margin: auto;
    }

    #home .cs-title {
        /* 39px - 61px */
        font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
        font-weight: 700;
        line-height: 1.2em;
        text-align: center;
        max-width: 51.8125rem;
        /* 16px - 24px */
        margin: 0 auto clamp(1rem, 4vw, 1.5rem);
        color: #fff;
        position: relative;
    }

    #home .cs-title:after {
        /* Divider Line */
        content: "";
        width: 6.25rem;
        height: 0.5rem;
        /* 16px - 24px */
        margin: clamp(1rem, 4vw, 1.5rem) auto clamp(1rem, 4vw, 1.5rem);
        background: var(--primary);
        opacity: 1;
        position: relative;
        display: block;
    }

    #home .cs-text {
        /* 16px - 25px */
        font-size: clamp(1rem, 1.95vw, 1.5625rem);
        line-height: 1.5em;
        text-align: center;
        width: 100%;
        /* 464px - 800px */
        max-width: clamp(29rem, 60vw, 50rem);
        margin: 0 auto;
        /* 40px - 48px */
        margin-bottom: clamp(2.5rem, 4vw, 3rem);
        color: #fff;
    }

    #home .cs-button-solid {
        font-size: 1rem;
        line-height: 3.5rem;
        text-decoration: none;
        font-weight: 700;
        margin: auto;
        color: #fff;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
    }
}

/*-- -------------------------- -->
<---       Side By Side SERVICES         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services {
        padding: var(--sectionPadding);
        padding-bottom: 1px;
        background: var(--backgroundColor);
    }

    #services .cs-container {
        width: 100%;
        max-width: 42rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: clamp(3rem, 6vw, 4rem);
    }

    #services .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 36.625rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #services .cs-text {
        margin-bottom: 1rem;
    }

    #services .cs-text:last-of-type {
        margin-bottom: 2rem;
    }

    #services .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 3rem;
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        border-radius: 0.25rem;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }

    #services .cs-image-group {
        /* scales the whole group based on the view width size and stop when that vales equals .745em, resets at desktop */
        font-size: min(1.959vw, .745em);
        width: 39.375em;
        /* we set a minimum height so it never gets smaller than this value */
        min-height: 39.25em;
        display: block;
        position: relative;
        z-index: 1;
    }

    #services .cs-picture {
        position: absolute;
    }

    #services .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    #services .cs-picture1 {
        /* the percentage heights allow them to be responsive to the height of the parent cs-image-group. On desktop, when the felxbox is set to aling-items: stretch, the cs-image group will stretch to fill the height of the parent container. So when you add more content to the cs-content group and make it taller, the cs-image group will get taller with it and every image will stretch with the parent, making this entire group responsive to the changing amounts of content next to it */
        width: 22.8125em;
        height: 76.617834%;
        top: 0;
        left: 0;
        z-index: -1;
    }

    #services .cs-picture2 {
        width: 22.8125em;
        height: 41.585987%;
        bottom: 0;
        right: 0;
        z-index: 10;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 64rem) {

    #services .cs-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
    }

    #services .cs-content {
        /* this padding sets a minimum gap between the top and bottom of the content div and the top and bottom of the cs-image-group */
        padding: 3.75rem 0;
        /* while the cs-image-group will stretch to fill the height of the parent, this property will ensure that the cs-content group aligns itse;f in the center of the parent div instead of stretching */
        align-self: center;
    }

    #services .cs-image-group {
        font-size: min(1.2vw, 1em);
        flex: none;
    }
}


/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-467 {
        padding: var(--sectionPadding);
        position: relative;
    }

    #services-467:before {
        content: "";
        width: 100%;
        height: 50%;
        background: var(--backgroundColor);
        border-bottom: 1px solid #b4b2c7;
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: -1;
    }

    #services-467 .cs-container {
        width: 100%;
        /* changes to 1440px at 768px */
        max-width: 34.375em;
        margin: auto;
    }


    /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/



    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #services-467 {
            padding: var(--sectionPadding);
            position: relative;
            z-index: 10;
        }

        #services-467 .cs-container {
            width: 100%;
            max-width: 80rem;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: clamp(3rem, 6vw, 4rem);
        }

        #services-467 .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        #services-467 .cs-topper {
            color: #767676;
        }

        #services-467 .cs-title {
            max-width: 25ch;
            margin: 0;
        }

        #services-467 .cs-card-group {
            margin: 0;
            padding: 0;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        #services-467 .cs-item {
            text-align: center;
            list-style: none;
            width: 100%;
            height: 19.0625rem;
            margin: 0;
            padding: 0;
            background-color: #000;
            border-radius: 1.5rem;
            /* clips background image corners */
            overflow: hidden;
            box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            grid-column: span 12;
            grid-row: span 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            position: relative;
            z-index: 1;
        }

        #services-467 .cs-item:hover .cs-background:before {
            background-color: var(--primary);
            opacity: 0.84;
        }

        #services-467 .cs-item:hover .cs-background img {
            transform: scale(1.2);
        }

        #services-467 .cs-link {
            text-decoration: none;
            width: 100%;
            height: 100%;
            /* padding goes on the link, not the cs-item as is normal. We do this because we want the whole card to be hoverable. So we add the padding to the link tag to create the space inside the card. By adding the space inside the cs-link tag we can make the whole card hoverable since the padding is now contributing to the height and widht of the link */
            padding: 1.5rem;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #services-467 .cs-h3 {
            font-size: 1.5625rem;
            line-height: 1.2em;
            font-weight: bold;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColorWhite);
            transition: color 0.3s;
        }

        #services-467 .cs-span {
            /* forces the h3 to alwasy be two lines */
            display: block;
        }

        #services-467 .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        #services-467 .cs-background:before {
            /* background color overlay */
            content: "";
            position: absolute;
            display: block;
            height: 100%;
            width: 100%;
            background-color: #000;
            opacity: 0.4;
            top: 0;
            left: 0;
            z-index: 1;
            transition:
                background-color 0.3s,
                opacity 0.3s;
        }

        #services-467 .cs-background img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            /* Makes img tag act as a background image */
            object-fit: cover;
            transition: transform 0.6s;
        }
    }

    /* Tablet - 600px */
    @media only screen and (min-width: 37.5rem) {
        #services-467 .cs-item {
            grid-column: span 6;
        }
    }

    /* Desktop - 1024px */
    @media only screen and (min-width: 64rem) {
        #services-467 .cs-content {
            text-align: left;
            align-items: flex-start;
        }

        #services-467 .cs-item {
            grid-column: span 3;
        }

        #services-467 .cs-card-group {
            display: flex;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-467 .cs-container {
        max-width: 90rem;
    }

    #services-467 .cs-card-group {
        flex-wrap: nowrap;
        flex-direction: row;
    }

    #services-467 .cs-item {
        width: 100%;
    }

    #services .cs-image-group {
        font-size: min(1.2vw, 1em);
        flex: none;
    }
}




/*-- -------------------------- -->
<---   Side By Side Reverse ABOUT     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #about {
        padding: var(--sectionPadding);
        /* clips the green box so it doesnt cause overflows */
        overflow: hidden;
    }

    #about .cs-container {
        width: 100%;
        /* changes to 1280px at 1024px */
        max-width: 42rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }

    #about .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 39.375rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #about .cs-text {
        margin-bottom: 1rem;
    }

    #about .cs-text:last-of-type {
        margin-bottom: 2rem;
    }

    #about .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }

    #about .cs-picture {
        width: 75%;
        height: auto;
        /* same margin top as the top value for the :after to offset the amount it overlaps the container */
        /* 56px - 100px */
        margin: clamp(3.5rem, 7vw, 6.25rem) 0 0 0;
        aspect-ratio: 1;
        border-radius: 50%;
        display: none;
        position: relative;
    }

    #about .cs-picture:before {
        /* green shape */
        content: "";
        /* 80px - 164px, changes at 1024px */
        width: clamp(5rem, 20vw, 10.2rem);
        height: clamp(5rem, 20vw, 10.2rem);
        background: var(--primaryLight);
        border: clamp(6px, 2vw, 12px) solid #ffffff;
        border-radius: 2rem 2rem 2rem 100%;
        opacity: 1;
        position: absolute;
        display: block;
        /* wrapped in a calc function to multiple the clamp value by -1 to get a negative number */
        bottom: calc(clamp(6px, 2vw, 12px) * -1);
        left: calc(clamp(6px, 2vw, 12px) * -1);
        z-index: 10;
    }

    #about .cs-picture:after {
        content: "";
        width: 85%;
        /* changes at 1024px */
        height: 85%;
        border-radius: 2rem;
        background: var(--primaryLight);
        opacity: 0.16;
        position: absolute;
        display: block;
        /* 56px - 100px */
        top: calc(clamp(3.5rem, 7vw, 6.25rem) * -1);
        left: 25%;
        z-index: -1;
    }

    #about .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
        display: block;
    }

    

}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #about .cs-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
    }

    #about .cs-content {
        width: clamp(46.6%, 45.7vw, 51%);
    }

    #about .cs-picture {
        width: 38%;
        /* sends it to the right in the 2nd position */
        order: 2;
        display: block;
    }

    #about .cs-picture:before {
        /* 125px - 164px */
        width: clamp(7.8125rem, 13vw, 10.2rem);
        height: clamp(7.8215rem, 13vw, 10.2rem);
        border-radius: 2rem 2rem 2rem 50%;
        bottom: -2.25rem;
    }

    #about .cs-picture:after {
        height: 24rem;
    }
}

/* Mobile - 360px LIST CONTENT FLAIR */
@media only screen and (min-width: 0rem) {
    #list-1165 {
        max-width: 39.375rem;
        margin: 0 0 2rem 0;
        padding: 0;
        /* clips the bullets to create the half circle */
        overflow: hidden;
        font-size: var(--bodyFontSize);
    }

    #list-1165 .cs-li {
        list-style: none;
        margin: 0 0 0.5rem 0;
        color: var(--bodyTextColor);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.75rem;
        position: relative;
    }

    #list-1165 .cs-li:before {
        /* bullet */
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        margin-top: 0.5rem;
        background: var(--secondary);
        display: block;
        /* prevents flexbox from squishing it */
        flex: none;
    }
}


/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery {
        padding: var(--sectionPadding);
        background: var(--backgroundColor);
    }

    #gallery .cs-container {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }

    #gallery .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 39.375rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #gallery .cs-grid {
        display: grid;
        /* 12 so we can have rows of 3 and rows with 2 50/50 images */
        grid-template-columns: repeat(12, 1fr);
        /* 12px - 30px */
        grid-gap: clamp(0.75rem, 1.5vw, 1.875rem);
        grid-template-rows: repeat(6, 0.34fr);
    }

    #gallery .cs-picture {
        border-radius: 0.5rem;
        /* clips corners of img tags */
        overflow: hidden;
        position: relative;
        display: block;
    }

    #gallery .cs-picture img {
        width: 100%;
        height: 100%;
        /* makes image behave like a background image */
        object-fit: cover;
    }

    #gallery .cs-picture1 {
        display: none;
    }

    #gallery .cs-picture2 {
        grid-column: 1 / 9;
        grid-row: 1 / 3;
    }

    #gallery .cs-picture3 {
        grid-column: 9 / 13;
        grid-row: 1 / 1;
    }

    #gallery .cs-picture4 {
        grid-column: 1 / 7;
        grid-row: 4 / 5;
    }

    #gallery .cs-picture5 {
        grid-column: 7 / 13;
        grid-row: 4 / 6;
    }

    #gallery .cs-picture6 {
        display: none;
    }

    #gallery .cs-picture7 {
        grid-column: 1 / 5;
        grid-row: 3 / 4;
    }

    #gallery .cs-picture8 {
        grid-column: 5 / 9;
        grid-row: 3 / 4;
    }

    #gallery .cs-picture9 {
        grid-column: 9 / 13;
        grid-row: 2 / 4;
    }

    #gallery .cs-picture10 {
        grid-column: 1 / 7;
        grid-row: 5 / 7;
    }

    #gallery .cs-picture11 {
        grid-column: 7 / 13;
        grid-row: 6 / 7;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery {
        padding-left: 0;
        padding-right: 0;
    }

    #gallery .cs-content {
        width: 100%;
    }

    #gallery .cs-grid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 0.45fr);
    }

    #gallery .cs-picture1 {
        border-radius: 0 0.5rem 0.5rem 0;
        display: block;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    #gallery .cs-picture2 {
        grid-column: 3 / 5;
        grid-row: 1 / 3;
    }

    #gallery .cs-picture3 {
        grid-column: 5 / 6;
        grid-row: 1 / 1;
    }

    #gallery .cs-picture4 {
        border-radius: 0.5rem 0 0 0.5rem;
        grid-column: 6 / 7;
        grid-row: 1 / 1;
    }

    #gallery .cs-picture5 {
        display: none;
    }

    #gallery .cs-picture6 {
        border-radius: 0 0.5rem 0.5rem 0;
        display: block;
        grid-column: 1 / 3;
        grid-row: 2 / 4;
    }

    #gallery .cs-picture7 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    #gallery .cs-picture8 {
        grid-column: 4 / 5;
        grid-row: 3 / 4;
    }

    #gallery .cs-picture9 {
        grid-column: 5 / 6;
        grid-row: 2 / 4;
    }

    #gallery .cs-picture10 {
        border-radius: 0.5rem 0 0 0.5rem;
        grid-column: 6 / 7;
        grid-row: 2 / 4;
    }

    #gallery .cs-picture11 {
        display: none;
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #gallery .cs-content {
        width: 98%;
        max-width: 80rem;
    }
}

/* Large Desktop 1600px */
@media only screen and (min-width: 100rem) {
    #gallery .cs-grid {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(3, 0.4fr);
    }

    #gallery .cs-content {
        width: 100%;
        max-width: 80rem;
    }

    #gallery .cs-picture4 {
        border-radius: 0.5rem;
    }

    #gallery .cs-picture5 {
        border-radius: 0.5rem 0 0 0.5rem;
        display: block;
        grid-column: 7 / 8;
        grid-row: 1 / 3;
    }

    #gallery .cs-picture10 {
        border-radius: 0.5rem;
    }

    #gallery .cs-picture11 {
        border-radius: 0.5rem 0 0 0.5rem;
        display: block;
        grid-column: 7 / 8;
        grid-row: 3 / 4;
    }
}


/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact {
        padding: var(--sectionPadding);
        background-color: #fafbfc;
        position: relative;
        z-index: 1;
    }

    #contact .cs-container {
        width: 100%;
        /* changes to 1064px at desktop */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
    }

    #contact .cs-left {
        max-width: 39.375rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
    }

    #contact .cs-right {
        width: 100%;
    }

    #contact .cs-content {
        /* set text aling to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #contact .cs-form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
    }

    #contact .cs-label {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        width: 100%;
        color: var(--headerColor);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.25rem;
    }

    #contact .cs-input {
        font-size: 1rem;
        width: 100%;
        height: 2.5rem;
        padding: 0;
        padding-left: 1.5rem;
        color: var(--headerColor);
        background-color: #fff;
        border: 1px solid #e0e0e0;
        /* prevents padding from adding to height and width */
        box-sizing: border-box;
        transition: border-color 0.3s;
    }

    #contact .cs-input:hover {
        border-color: var(--secondary);
    }

    #contact .cs-input:focus {
        outline: 1px solid var(--secondary);
    }

    #contact .cs-input::placeholder {
        color: #7d799c;
        opacity: 0.6;
        font-size: 0.875rem;
    }

    #contact .cs-textarea {
        /* 120px - 140px */
        min-height: clamp(7.5rem, 28vw, 8.75rem);
        padding-top: 1.5rem;
        margin-bottom: 0.75rem;
        font-family: inherit;
    }

    #contact .cs-submit {
        /* 20px - 25px */
        font-size: 1.3rem;
        /* 56px - 70px */
        line-height: clamp(3.5rem, 7vw, 4.375rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #ffffff;
        border: none;
        width: 100%;
        padding: 0 1.5rem;
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        border-radius: 0.25rem
    }

    #contact .cs-flex {
        /* resets to 100% at desktop */
        width: 49%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    #contact .cs-header {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 5vw, 1.5625rem);
        line-height: 1.2em;
        font-weight: 700;
        margin: 0;
        color: var(--headerColor);
        display: block;
    }

    #contact .cs-link {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.4vw, 1rem);
        line-height: 1.5em;
        text-decoration: none;
        margin: 0;
        color: var(--headerColor);
        display: block;
    }

    #contact .cs-link:hover {
        text-decoration: underline;
    }

    #contact .cs-phone {
        /* scoot it 8px up to override the 16px gap on the parent and make it 8px */
        margin-top: -0.5rem;
    }
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #contact .cs-label {
        width: 48.4%;
    }

    #contact .cs-message {
        width: 100%;
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact .cs-container {
        max-width: 66.5rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    #contact .cs-left {
        width: 60%;
    }

    #contact .cs-submit {
        width: 11rem;
    }

    #contact .cs-right {
        width: 19rem;
        flex-direction: column;
        /* prevent flexbox from squishing it */
        flex: none;
    }

    #contact .cs-flex {
        width: 100%;
        align-items: flex-end;
    }

    #contact .cs-social {
        /* adds an extra 16px + 48px row gap on the parent to make 64px space between */
        margin-top: 1rem;
    }
}



/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-footer-108 {
        /* 40px - 100px top and bottom */
        padding: clamp(2.5rem, 7.9vw, 6.25rem) 1rem;
        /* 40px - 50px */
        padding-bottom: clamp(2.5rem, 7.9vw, 3.125rem);
        background: var(--backgroundColor);
    }

    #cs-footer-108 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
    }

    #cs-footer-108 .cs-ul {
        /* 40px - 60px*/
        padding: 0 0 clamp(2.5rem, 4.7vw, 3.75rem);
        margin: auto;
        border-bottom: 1px solid #eff0f6;
    }

    #cs-footer-108 .cs-li {
        list-style: none;
        text-align: center;
        margin-bottom: 1.25rem;
    }

    #cs-footer-108 .cs-li:last-of-type {
        margin-bottom: 0;
    }

    #cs-footer-108 .cs-link {
        /* 16px - 20px */
        font-size: clamp(1rem, 1.55vw, 1.25rem);
        line-height: 1.5em;
        text-decoration: none;
        font-weight: 700;
        color: var(--bodyTextColor);
        position: relative;
    }

    #cs-footer-108 .cs-link:hover:before {
        width: 100%;
    }

    #cs-footer-108 .cs-link:before {
        /* top right box */
        content: "";
        width: 0%;
        height: 0.1875rem;
        background: var(--bodyTextColor);
        opacity: 1;
        position: absolute;
        display: block;
        bottom: -0.125rem;
        left: 0;
        transition: width 0.3s;
    }

    #cs-footer-108 .cs-copyright {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.6vw, 1rem);
        text-align: center;
        color: #a0a3bd;
        display: block;
        /* 20px - 28px */
        margin: clamp(1.25rem, 2.8vw, 1.75rem) auto 0;
    }
}

/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
    #cs-footer-108 .cs-ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #cs-footer-108 .cs-li {
        /* 44px - 88px */
        margin: 0 clamp(2.75rem, 6.2vw, 5.5rem) 0 0;
    }

    #cs-footer-108 .cs-li:last-of-type {
        margin: 0;
    }
}